a{
    text-decoration: none;
    transition: color .2s ease,background-color .2s ease;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-word;
}
html, body{
    color: #222;
    font-size: 14px;
	height: 100%;
    overflow: hidden;
    background: #f4f5f7;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none!important;
}
#app{
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: white;
}
 /*定义滚动条轨道
  内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px white;
    border-radius: 10px;
    background-color: white;
}
 /*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: rgba(144, 147, 153, .3);
}

.mobile-class ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}
 
input::-webkit-input-placeholder {
    color: #C0C4CC;
}
input::-moz-input-placeholder {
    color: #C0C4CC;
}
input::-ms-input-placeholder {
    color: #C0C4CC;
}
input {
    -webkit-appearance: none;
}

.el-input {
    font-size: 13px!important;
}

/* date-picker reset */
.date-picker.el-input__wrapper, .day-picker .el-input__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.date-picker .el-icon {
    display: none;
}
.day-picker .el-input__inner {
    padding-left: 43px;
}
.date-picker.el-date-editor.el-input__wrapper {
    width: 200px;
}
.date-picker-popper .el-date-range-picker{
    width: 416px;
}
.date-picker-popper .el-date-range-picker.has-sidebar{
    width: 416px;
}
@media screen and (max-width: 544px) {
    .date-picker.el-date-editor.el-input__wrapper {
        width: 100%;
        box-sizing: border-box;
    }
    .date-picker-popper {
        right: 5px;
    }
    .date-picker-popper .el-date-range-picker {
        width: 100%;
    }
    .date-picker-popper .el-date-range-picker.has-sidebar {
        width: 100%;
    }
    .month-picker-popper {
        right: unset;
    }
}
.date-picker-popper .el-picker-panel__sidebar {
    width: 66px;
    transition: .2s all;
}
.month-picker-popper  .el-picker-panel__content {
    margin-bottom: 8px;
}
.detail-picker-popper .el-picker-panel__sidebar {
    width: 70px;
}
.date-picker-popper .el-picker-panel__shortcut {
    padding: 0 8px;
}
.date-picker-popper .el-date-range-picker .el-picker-panel__body {
    min-width: unset;
}
.date-picker-popper .el-picker-panel__sidebar+.el-picker-panel__body {
    margin-left: 63px;
}
@media screen and (max-width: 460px) {    
    .date-picker-popper .el-picker-panel__sidebar+.el-picker-panel__body {
        margin-left: 0;
    }
    .date-picker-popper .el-picker-panel__sidebar {
        display: flex;
        top: 276px;
        width: 100%;
        bottom: unset;
        padding: 4px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.12);
        border: 1px #e4e7ed;
        border-top: 1px solid #e4e7ed;
    }
}
.date-picker-popper .el-date-range-picker__content {
    padding: 8px;
}
.date-picker-popper .el-picker-panel__shortcut {
    white-space: nowrap;
}
.date-picker-popper .el-month-table td div {
    height: 30px;
    padding: 0;
}
.date-picker-popper .el-month-table td .cell {
    height: 100%;
    width: 100%;
    line-height: 30px;
}
.date-picker-popper .el-month-table td.in-range:first-of-type div {
    border-radius: 10px 0 0 10px;
}
.date-picker-popper .el-month-table td.in-range:last-of-type div {
    border-radius: 0 10px 10px 0;
}
.date-picker-popper .el-month-table td.start-date:first-of-type div {
    border-radius: 24px 0 0 24px;
}
.date-picker-popper .el-month-table td.end-date:last-of-type div {
    border-radius: 0 24px 24px 0;
}
.date-picker-popper .el-date-table td {
    padding: 3px 0;
}
.date-picker-popper .el-date-table td.start-date .el-date-table-cell {
    margin-left: -3px;
}
.date-picker-popper .el-date-table td.end-date .el-date-table-cell {
    margin-right: -3px;
}
.date-picker-popper .el-date-table td .el-date-table-cell {
    height: 26px;
    padding: 1px 0;
}
.date-picker-popper .el-date-table td .el-date-table-cell .el-date-table-cell__text {
    z-index: 1;
}
.date-picker-popper .el-date-range-picker__content .el-date-range-picker__header div {
    font-size: 12px;
    margin: 0;
}
.date-picker-popper .el-date-range-picker__header [class*=arrow-left] {
    padding-left: 0;
}
.date-picker-popper .el-date-range-picker__header [class*=arrow-right] {
    padding-right: 0;
}

.el-message {
    min-width: 320px!important;
}

.el-overlay-dialog .el-dialog__body {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* ios textarea边框线修复 */
.ios-textarea > textarea {
    border: 1px solid #dcdfe6;
    box-shadow: none;
    transition: border .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
}
.ios-textarea > .el-textarea__inner:hover {
    box-shadow: none;
    border: 1px solid #c0c4cc;
}
.ios-textarea > .el-textarea__inner:focus {
    box-shadow: none;
    border: 1px solid #409eff;
}

.gc-pagination .el-pagination__jump {
    margin-left: 0!important;
}

/* date picker btn */
.header-icon-btn {
    font-size: 16px!important;
    transition: color .2s ease,background-color .2s ease!important;
    height: 16px!important;
}
.change-date-icon {
    color: #DCDFE6!important;
}
.change-date-icon:hover {
    color: #C0C4CC!important;
}
.change-date-icon:first-of-type {
    margin-right: 6px;
}
.change-date-icon:last-of-type {
    margin-left: 6px;
}

.future-wrap {
    height: 100%;
}
