@media screen and (max-width: 544px) {
    /* 主体容器 */
    /* App.vue */
    .main-wrap {
        width: calc(100% - 24px)!important;
        height: calc(100% - 20px)!important;
		margin-right: 12px!important;
		margin-left: 12px!important;
        margin-top: 12px!important;
    }
    .mobile-wrap {
        padding-left: 12px!important;
        padding-right: 12px!important;
    }

    /* 导航栏 */
    /* nav-menu.vue */
    .page-nav-wrap {
        width: 100%!important;
    }
    .search-input-wrap {
        right: 48px!important;
    }

    /* 首页的内容标题 */
    /* home-header.vue */
    .home-header a {
        margin-right: 14px!important;
    }
    .home-header-title{
        display: none!important;
    }

    .page-nav-wrap .el-menu-item {
        padding: 0 12px;
    }
}